<div class="container">
  <div class="card-panel">

    <div class="row">
      <div class="col 12">
        <h4>Hey <%= @user.first_name %></h4>
        <% image_tag('', :class => "profphoto")%></img>
      </div>
      <% if current_user.id == @user.id %>
      <div class="button">
        <a href='/users/<%=@user.id %>/edit' class="button-link">Update Profile</a>
      </div>
      <% end %>
      <br>
    </div>
    <div class="card-panel">
      <div class="row">
        <div class="col 12">
          <div>
          <h4><%= @user.first_name %> <%= @user.last_name %>
          </div>
          <div>
            Email:<%= @user.email %>
          </div>
          <div>
            Hometown: <%= @user.hometown %>
          </div>
          <div>
            Social Media: <%= @user.sociallink %>
          </div>
        </div>
      </div>
    </div>

    <div class="col 12">
      <h5>Reviews Timeline</h5>
      <div class="card-panel">
        <% @reviews.each do |review| %>
        <div class="container">
          <div class="Reviewheader">
            <a href="/properties/<%= review.property_id %>/reviews/<%= review.id %>"><%= @review.title %></a>
          </div>
          
